<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDisRc0yZ83muDiKT1itsGjI33o46coE9M</string>
	<key>GCM_SENDER_ID</key>
	<string>204621505853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fortuneTeller.dev</string>
	<key>PROJECT_ID</key>
	<string>future-app-cf101</string>
	<key>STORAGE_BUCKET</key>
	<string>future-app-cf101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204621505853:ios:c1a9d2a7239e90cd30d154</string>
</dict>
</plist>